html, body {
  height: 100%;
  margin: 0px;
  padding: 0px; }

#particles-js {
  width: 100%;
  height: 50%;
  background-image: url(../img/blackk.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: black;
  background-size: cover; }

.waviy {
  position: absolute;
  top: 10%;
  right: 32%; }

.waviy span {
  position: relative;
  display: inline-block;
  font-size: 55px;
  color: white;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--i)); }

@keyframes flip {
  0%,80% {
    transform: rotateY(360deg); } }
.button2 {
  top: 20%;
  right: 60%;
  position: absolute;
  display: inline-block;
  padding: 30px 65px;
  border-radius: 6px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  margin: 100px;
  font-family: "Roboto", sans-serif;
  filter: hue-rotate(0deg);
  border: 2px solid #ff0000;
  transition: all 0.2s linear;
  font-weight: bold; }
  .button2:hover {
    border: 5px solid transparent; }
    .button2:hover span {
      position: absolute;
      display: block; }
      .button2:hover span:nth-child(1) {
        filter: hue-rotate(0deg);
        top: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background: linear-gradient(90deg, transparent, #3a86ff);
        animation: animate1 1s linear infinite; }
@keyframes animate1 {
  0% {
    left: -100%; }
  50%,
          100% {
    left: 100%; } }
      .button2:hover span:nth-child(2) {
        filter: hue-rotate(60deg);
        top: -100%;
        right: 0;
        width: 3px;
        height: 100%;
        background: linear-gradient(180deg, transparent, #3a86ff);
        animation: animate2 1s linear infinite;
        animation-delay: 0.25s; }
@keyframes animate2 {
  0% {
    top: -100%; }
  50%,
          100% {
    top: 100%; } }
      .button2:hover span:nth-child(3) {
        filter: hue-rotate(120deg);
        bottom: 0;
        right: 0;
        width: 100%;
        background: linear-gradient(270deg, transparent, #3a86ff);
        animation: animate3 1s linear infinite;
        animation-delay: 0.5s; }
@keyframes animate3 {
  0% {
    right: -100%;
    height: 3px; }
  50%,
          100% {
    height: 2px;
    right: 100%; } }
      .button2:hover span:nth-child(4) {
        filter: hue-rotate(300deg);
        bottom: -100%;
        left: 0;
        width: 3px;
        height: 100%;
        background: linear-gradient(360deg, transparent, #3a86ff);
        animation: animate4 1s linear infinite;
        animation-delay: 0.75s; }
@keyframes animate4 {
  0% {
    bottom: -100%; }
  50%,
          100% {
    bottom: 100%; } }
.button3 {
  top: 20%;
  right: 38%;
  position: absolute;
  display: inline-block;
  padding: 30px 65px;
  border-radius: 6px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  margin: 100px;
  font-family: "Roboto", sans-serif;
  filter: hue-rotate(0deg);
  border: 2px solid #0701bd;
  transition: all 0.2s linear;
  font-weight: bold; }
  .button3:hover {
    border: 5px solid transparent; }
    .button3:hover span {
      position: absolute;
      display: block; }
      .button3:hover span:nth-child(1) {
        filter: hue-rotate(0deg);
        top: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background: linear-gradient(90deg, transparent, #3a86ff);
        animation: animate1 1s linear infinite; }
@keyframes animate1 {
  0% {
    left: -100%; }
  50%,
          100% {
    left: 100%; } }
      .button3:hover span:nth-child(2) {
        filter: hue-rotate(60deg);
        top: -100%;
        right: 0;
        width: 3px;
        height: 100%;
        background: linear-gradient(180deg, transparent, #3a86ff);
        animation: animate2 1s linear infinite;
        animation-delay: 0.25s; }
@keyframes animate2 {
  0% {
    top: -100%; }
  50%,
          100% {
    top: 100%; } }
      .button3:hover span:nth-child(3) {
        filter: hue-rotate(120deg);
        bottom: 0;
        right: 0;
        width: 100%;
        background: linear-gradient(270deg, transparent, #3a86ff);
        animation: animate3 1s linear infinite;
        animation-delay: 0.5s; }
@keyframes animate3 {
  0% {
    right: -100%;
    height: 3px; }
  50%,
          100% {
    height: 2px;
    right: 100%; } }
      .button3:hover span:nth-child(4) {
        filter: hue-rotate(300deg);
        bottom: -100%;
        left: 0;
        width: 3px;
        height: 100%;
        background: linear-gradient(360deg, transparent, #3a86ff);
        animation: animate4 1s linear infinite;
        animation-delay: 0.75s; }
@keyframes animate4 {
  0% {
    bottom: -100%; }
  50%,
          100% {
    bottom: 100%; } }
.button4 {
  top: 20%;
  right: 15%;
  position: absolute;
  display: inline-block;
  padding: 30px 65px;
  border-radius: 6px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  margin: 100px;
  font-family: "Roboto", sans-serif;
  filter: hue-rotate(0deg);
  border: 2px solid #00f324;
  transition: all 0.2s linear;
  font-weight: bold; }
  .button4:hover {
    border: 5px solid transparent; }
    .button4:hover span {
      position: absolute;
      display: block; }
      .button4:hover span:nth-child(1) {
        filter: hue-rotate(0deg);
        top: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background: linear-gradient(90deg, transparent, #3a86ff);
        animation: animate1 1s linear infinite; }
@keyframes animate1 {
  0% {
    left: -100%; }
  50%,
          100% {
    left: 100%; } }
      .button4:hover span:nth-child(2) {
        filter: hue-rotate(60deg);
        top: -100%;
        right: 0;
        width: 3px;
        height: 100%;
        background: linear-gradient(180deg, transparent, #3a86ff);
        animation: animate2 1s linear infinite;
        animation-delay: 0.25s; }
@keyframes animate2 {
  0% {
    top: -100%; }
  50%,
          100% {
    top: 100%; } }
      .button4:hover span:nth-child(3) {
        filter: hue-rotate(120deg);
        bottom: 0;
        right: 0;
        width: 100%;
        background: linear-gradient(270deg, transparent, #3a86ff);
        animation: animate3 1s linear infinite;
        animation-delay: 0.5s; }
@keyframes animate3 {
  0% {
    right: -100%;
    height: 3px; }
  50%,
          100% {
    height: 2px;
    right: 100%; } }
      .button4:hover span:nth-child(4) {
        filter: hue-rotate(300deg);
        bottom: -100%;
        left: 0;
        width: 3px;
        height: 100%;
        background: linear-gradient(360deg, transparent, #3a86ff);
        animation: animate4 1s linear infinite;
        animation-delay: 0.75s; }
@keyframes animate4 {
  0% {
    bottom: -100%; }
  50%,
          100% {
    bottom: 100%; } }
.ui {
  position: fixed;
  top: 5px;
  left: 5px;
  color: #fff;
  font-family: sans-serif; }

/*# sourceMappingURL=style.css.map */
